@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rock+3D&display=swap');


*{
    color: rgb(238, 230, 230);
    font-family: 'Roboto', sans-serif;
    padding-bottom: 3px;
}

body
{
    background: rgb(0, 0, 0);
    padding: 1em;
}

header, footer
{
    text-shadow: 5px 5px 5px black;
    padding: 5px;
}

h1
{
    text-shadow: 2px 2px 2px rgb(78, 52, 209);
}

a{
    border-bottom: double  rgb(51, 51, 161);
    padding: 1px;
    text-decoration: none;
}

p{
    padding-left: 1em;
}
.header1
{
    margin-left: 0%;
    display: inline-block;
}

.header2
{
    float: right;
}
input
{
    border: 0;
    padding: 0.5em 1em;
    border-radius: 99vw;
    margin: 2px;
    margin-bottom: 1em;
}
label
{
    font-size: 1.05em;
    margin: 0.5em;
}

label:hover
{
    cursor: pointer;
}
button{
    margin: 1em 6em;
    min-height: 3em;
    min-width: 8em;
    color: rgb(243, 233, 233);
    background: rgb(68, 26, 182);
    border: 0;
    border-radius: 99vw;
    font-family: 'Rock 3D', cursive;
    font-weight: 900;
    transition: all 0.375s;
    cursor: pointer;
}

button:hover{
    background-color: grey;
    transform: scale(1.05);
    opacity: 0.8;
}
td:nth-child(even)
{
    float: right;
}

table caption
{
    margin: 0 0 1em 2em;
}
#table{
    border: 0px
}
#table{
    border: 0;
    margin: 1em auto;
}
hr
{
    border-color: rgb(19, 39, 153);
    padding: 0;
}
.form
{
    width: 65%;
    min-width: 600px;
    margin: 0 auto;
}

fieldset
{
    border-color: rgb(72, 29, 173);
}
img{
    border: inset 3px blue;
    padding-bottom: 0;
}